*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika', sans-serif;
    
}

/* nav section */
nav{
    background: rgba(120, 119, 119, 0.5) url("./foodassests/back.jpeg.jpg");
    height: 100vh;
    background-size: cover;
    background-blend-mode: color-burn;
    
}
nav section{
    display: flex;
    align-content: center;
     justify-content: center;
    margin: 50px;
}
#logo{
    margin-right: 70vh;
    margin-top: 20px;
}
#logo img{
    height: 60px;
    border-radius: 50%;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: black;
    padding: 20px;
}
a:hover{
    color: rgb(49, 196, 207);
}

#menu ul{
    margin-top:20px ;
  display: flex;
  align-items: right;
  justify-content: center;
  
}

button{
    padding: 10px 26px;
    font-size: 15px;
    font-weight: 600;
    background-color: rgb(184, 187, 19);
    border-radius: 5px;
    border-color:rgb(221, 228, 9) ;
    margin-top: 20px;
    margin-right:6px ;
}
button:hover{
    padding: 10px 26px;
    font-size: 15px;
    font-weight: 300;
    background-color: rgb(187, 228, 20);
    border-radius: 5px;
    border-color:rgb(204, 234, 13) ;
    margin-top: 20px;
    margin-right:6px ;

}

.intro{
    text-align: center;
     margin-top: 35vh;
    
}
h1{
    color: aliceblue;
    font-size: 40px;
}
p{
    color: aliceblue;
    font-weight: 600;
    font-size:13px ;
}
/* middle portion*/
main{
    text-align: center;
}
h2{
 font-size: 30px;
 padding: 30px;
}
#food img{
    height: 200px;
    width:280px;
    padding: 10px;
}
#food img:hover{
    transform: scale(1.5);
}
/* footer */
footer{
    display: flex;
}
#rating{
    padding-right: 60%;
    padding-left: 30px;
}
#rating h4{
    padding-left: 30px;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
#social i{
  padding: 20px;
}
#social i:hover{
    transform: scale(1.5);
}
