.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: rgb(128, 243, 243);
  }
  
  h1 {
    text-align: center;
  }
  
  input[type="text"] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ccc;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  li {
    list-style-type: none;
    font-size: 18px;
    margin: 10px 0;
  }
  
  li span {
    font-weight: bold;
    margin-right: 10px;
  }
  
  li button {
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    float: right;
  }
  
  li button:hover {
    opacity: 0.8;
  }
  